@keyframes pulse {
	0%, 100% {
	opacity: 1;
	}
	50% {
	opacity: .5;
	}
}

* {
	padding: 0;
	margin: 0;
	font-family: 'Fjalla One', sans-serif;
}

:root {
	--image-size: 60px;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(var(--image-size), 1fr));
}

.imagen {
	width: 100%;
	object-fit: cover;
	height: 100%;
	border: none;
}

.imagen[lazy=loading] {
	animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;	
}

.radio {
	font-size:1.5rem;
}

.boton {
	-webkit-appearance: none;
	-moz-appearance: none; 
	appearance: none; 
	border: none;
	cursor: pointer;
	width: 100%;
	height: var(--image-size);
}

.transicion-move {
	transition: transform 10s;
}

.modal-overlay {
	background-color: rgba(0, 0, 0, 0.25);
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 48px;
	z-index: 2;
}

.modal-body {
	background-color: white;
	border-radius: 8px;
	height: 100%;
	overflow-y: auto;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}